.sorting {
  font-size: 1vmax;
  display: flex;
  padding-left: 82.5%;
  position: absolute;
}
.sorting > label {
  font-size: 1.1vmax;
}
.sorting > option {
  border: 1px solid black;
}
@media screen and (max-width: 480px) {
  .sorting {
    padding-left: 50%;
  }
  .sortBox {
    font-size: 1.3vmax;
  }
}
