.productName {
  font-size: 1.8vmax;
  font-weight: 600;
  padding-top: 5%;
  margin-bottom: 0em;
}
.productBrand {
  font-size: 1.5vmax;
  color: #000048;
  margin-bottom: 0em;
}
.productPrice {
  font-weight: 700;
  font-size: 1.5vmax;
}
.productPrice > span {
  font-weight: 400;
  margin-bottom: 0em;
}

@media screen and (max-width: 480px) {
  .productName {
    font-size: 2.4vmax;
    padding-top: 0px;
    margin-top: 0em;
  }
  .productBrand {
    font-size: 2.3vmax;
  }
  .productPrice {
    font-size: 2.3vmax;
  }
}
